{% extends "admin/basee.html" %}
{% block content %}
  <div id="assignTasksSection" class="glass-card">
        <h3 class="text-center mb-4">New Project</h3>
        <form method="POST" action="{%url 'add-projects'%}">
          {% csrf_token %}
          <div class="mb-3">
            <input type="text" name="project_name" class="form-control" placeholder="Project Name" required style="color: #fff; background-color: rgba(255,255,255,0.1);" />
          </div>
          <div class="mb-3">
            <textarea name="description" class="form-control" placeholder="Project Description" required rows="3" style="color: #fff; background-color: rgba(255,255,255,0.1);"></textarea>
          </div>
          <div class="mb-3">
            <select name="department" class="form-select custom-dropdown" required style="color: #fff; background-color: rgba(255,255,255,0.1);">
              <option value="" disabled selected>Select department</option>
              {% for dept in departments %}
                <option value="{{ dept.id }}">{{ dept.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input type="date" name="start_date" class="form-control" required style="color: #fff; background-color: rgba(255,255,255,0.1);" />
            </div>
            <div class="col">
              <input type="date" name="end_date" class="form-control" required style="color: #fff; background-color: rgba(255,255,255,0.1);" />
            </div>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">Create Project</button>
          </div>
        </form>
   </div>

{% endblock %}