{% extends "admin/basee.html" %}
{% block content %}
    {% csrf_token %}
    <!-- Users Section -->
    <div id="userSection" class="glass-card">
      <h3 class="text-center mb-4">User Management</h3>
      
      <div class="d-flex justify-content-end mb-3 gap-2">
        <a href="{% url 'register_user_by_admin' %}" class="btn btn-secondary rounded-pill">Add New User</a>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
              <th>department</th>
              <th>Access</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                  {% if user.department %}
                      {{ user.department.name }}
                  {% else %}
                      Not Assigned
                  {% endif %}
                </td>
                <td><span class="badge {% if user.status %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{% if user.status %}Active{% else %}Disabled{% endif %}</span></td>
                <td>
                  <div class="d-flex justify-content-center">
                    <div class="dropdown me-2">
                      <button class="btn btn-primary rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Promote</button>
                      <ul class="dropdown-menu">
                        {% for role_value, role_label in roles %}
                        <li><a class="dropdown-item promote-user-btn" href="#" data-user-id="{{ user.id }}" data-role-value="{{ role_value }}">{{ role_label }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="dropdown me-2">
                      <button class="btn btn-primary rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Assign department
                      </button>
                      <ul class="dropdown-menu">
                          {% for dept in departments %}
                          <li>
                              <a class="dropdown-item assign-department-btn" href="#" data-user-id="{{ user.id }}" data-dept-id="{{ dept.id }}">
                                  {{ dept.name }}
                              </a>
                          </li>
                          {% endfor %}
                      </ul>
                    </div>
                    <div class="dropdown me-2">
                    <a href="#" class="btn {% if user.status %}btn-danger{% else %}btn-success{% endif %} rounded-pill toggle-status-btn" data-user-id="{{ user.id }}">{% if user.status %}Disable{% else %}Activate{% endif %}</a>
                    </div>
                    <div>
                    <a href="{% url 'employee-profile-admin' user.id %}" class="btn btn-secondary rounded-pill">View Profile</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


{% endblock %}