{%include 'header.html'%}
<div class="container">
    <h1 class="text-center">Company Statistics</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Total Employees</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_employees }}</h5>
                    <p class="card-text">Total number of employees in the company.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%include 'footer.html'%}